.home-background {
    background-image: url(../images/BackgroundImage.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
}

.init-background {
    background-color: #635db8;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
}

.center-hor-ver {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.App-header {
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App {
    text-align: center;
    color: white;
}

h1 {
    width: 100%;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    width: 100%;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    width: 100%;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h4 {
    width: 20%;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.Navbar {
    align-items: center;
    color: white;
}