*{
    font-family: Roboto;
}

.title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.Arrow-Left {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
   
    box-shadow: none;
}

.Arrow-Right {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
    margin-right: 8px;
    box-shadow: none;
}


.title-text{
    font-size: 30px;
}

.mainbody-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 80px 390px; 
    margin-left: 20px;
    margin-right: 20px;
   
   
}

.Calendar-header {
    background-color: rgba(244, 53, 53, 0.8);
    display: flex;
    align-items: center;
    width: 310px;
    justify-content: space-between;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.5);
}

.Month-Text {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 9px;
}

.Calendar-main-body {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    height: 335px;
    width: 310px;
    box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.5);
}

.M-SGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.M-SText{
    margin-top: 8px;
    color: black;
    text-shadow: none;
    font-weight: bold;
}

.Dates-grid {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.DateButton {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
    border: none;
    font-size: 20px;
    box-sizing: border-box;
    padding: 1px;
    line-height: 30px;
}