.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.input-container input,
.input-container textarea {
    width: 300px;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-container textarea {
    height: 150px; /* Adjust height for the message textarea */
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}

.contactUs-image {
    width: 40px;
    margin-right: 10px;
}

.contact-button {
    padding: 10px 10px;
    height: 70px;
    width: 300px;
    border-radius: 45px;
    font-size: 35px;
    margin-top: 0px;
}