/*----------Header Section---------*/
.flexbox-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: white; /* Consistent text color */
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 13px;
}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 25px;
    justify-content: right;
}

.Sidebar-Image, .notification-icon, .profile-picture {
    /* Setting a consistent size for icons, adjust as needed */
    width: 30px; 
    height: auto;
    margin-right: 10px; /* Space between icon and label */
}

.Header-Text {
    color: white;
    margin: 0;
    margin-left: 10px;
    font-size: 20px; /* Adjust font size as per your preference */
}

/* Styling for icon labels (like in the footer and other sections) */
.icon-label {
    color: white;
    font-size: 12px; /* Adjust based on other labels' size */
    text-align: center;
    margin: 0;
    line-height: 1.2; /* Adjust line height for better readability */
    text-decoration: underline;
    text-decoration-color: rgb(91, 91, 202);
}

.header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* Removes underline from links */
    left: 0; 
    
}


.right-side .header-link {
    margin-right: 10px; /* Adjust this value to increase spacing */
}

/* headerstyles.css */

.notification-icon {
    width: 30px;  /* Change this value to the desired width */
    height: auto; /* This will maintain the aspect ratio */
}

.profile-picture {
    width: 30px;  /* Change this value to the desired width */
    height: auto; /* This will maintain the aspect ratio */
}

.stupid-red-dot {
    background-color: red;
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 
    position: absolute; 
    top: 5px; 
    right: 100px; 
    font-weight: bolder;
    text-align: center;
    font-size: 12px; 
}
