*{
    font-family: Roboto;
}

.home-background {
    background-image: url(../images/BackgroundImage.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
}


/*----------Main Body Section---------*/
.main-body-grid {
    display: grid;
    grid-template-rows: 100px minmax(400px, 1fr); 
    padding-bottom: 50px; 
}

.nav-buttons {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Home-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-divtext{
    color: white;
    font-size: 30px;
}

.Calendar-ButtonImageActual {
    width: 40px;
}

.Calendar-Integration {
    background-color: rgba(209, 56, 56, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}


.ToDoList-Integration {
    background-color: rgba(68, 236, 236, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px

}

.ToDoList-ButtonImageActual{
    width: 65px;
}

.Settings-Integration {
    background-color: rgba(27, 30, 30, 0.8);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 63px;
    padding-right: 63px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(38, 38, 38, 0.5);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Settings-ButtonImageActual{
    width: 50px;
}
/*------------------------------------*/


