*{
    font-family: Roboto;
}


/*----------Main Body Section---------*/
.main-body-grid {
    display: grid;
    grid-template-rows: 100px minmax(400px, 1fr); 
    padding-bottom: 50px; 
}

.nav-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Home-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-divtext{
    color: white;
    font-size: 30px;
}

.Createevent-Integration {
    background-color: rgba(63, 221, 84, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 55px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.CreateEvent-ButtonImageActual {
    width: 40px;
}


.Calendar-ButtonImageActual {
    width: 40px;
}

.Calendar-Integration {
    background-color: rgba(209, 56, 56, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}


.ToDoList-Integration {
    background-color: rgba(68, 236, 236, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px

}

.ToDoList-ButtonImageActual{
    width: 65px;
}

.Settings-Integration {
    background-color: rgba(27, 30, 30, 0.8);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 63px;
    padding-right: 63px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(38, 38, 38, 0.5);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Settings-ButtonImageActual{
    width: 50px;
}

.contact-us-section {
    text-align: center;
    margin-top: 20px;
}

.contact-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #FF5733;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #FF8C66;
}
/*------------------------------------*/


