*{
    font-family: sans-serif;
}


/*----------Main Body Section---------*/
.main-body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-template-rows: 200px 200px; 
    
    padding-bottom: 50px; 
    z-index: 5;
   
}



.Home-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-divtext{
    color: white;
    font-size: 30px;
    font-weight: 600;
}



.CreateEvent-ButtonImageActual {
    width: 55px;
}

.CreateTask-ButtonImageActual {
    width: 40px;
}

.Calendar-ButtonImageActual {
    width: 40px;
}


.contactUs-image {
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 0.4em;
}


.ToDoList-ButtonImageActual{
    width: 65px;
}


.Settings-ButtonImageActual{
    width: 50px;
}

.contact-us-section {
    text-align: center;
    margin-top: 20px;
}

.contact-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #FF5733;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-attributes {
   
    margin: 10px auto;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
    width: 170px;
    background: linear-gradient(to right, #0c69ff, #4b10b9);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.link-style {
    color:white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
/*------------------------------------*/





