*{
    font-family: sans-serif;
}

.notifications-body {
    padding: 20px;
    font-family: sans-serif;
}

.notifications-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.notifications-title {
    color: white;
    font-size: 30px;
}

.notifications-list {
    margin-top: 10px;
}

.notification-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-text {
    font-size: 20px;
}

.notification-date {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.events-render {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: white;
    
    height: 125px;
    width: 400px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.event-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}

.event-details h1 {
    font-size: 15px;
}


.event-buttons {
    display: flex;
    justify-content: center;
    width: 100px;
    text-align: center;
    align-items: center;
    flex-direction: column
}

.event-buttons button {
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    width: 80px;
    
}

.noti-image {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    left: 0px;
}

.event-left {
    display: flex;
    
}

.event-name {
    font-weight: bolder;
    font-size: 20px !important;
}