:root {
    --bg-color: #fff; /* Light mode background color */
    --text-color: #000; /* Light mode text color */
  }
  
  .dark-mode {
    --bg-color: #222; /* Dark mode background color */
    --text-color: #fff; /* Dark mode text color */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
.profile-title {
    font-family: sans-serif;
    color: white; 
    text-align: center;
    font-size: 30px;
    margin: 20px 0; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0 auto 50px auto;
    width: 50%; 
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.form-label {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.input-group > label {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="file"], 
textarea {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: 2px solid #ccc;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgba(63, 221, 84, 0.8);
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    .profile-container {
        width: 90%; 
    }
    input[type="text"], input[type="email"], input[type="number"] {
        width: 90%; 
    }
}

.footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    /* other necessary styles */
}