.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    overflow: hidden; /* Ensure this isn't hiding elements */
}

.splash-screen h1, .splash-screen h2, .splash-screen h3 {
    margin-bottom: 20px; /* Uniform spacing for simplicity */
    font-weight: bold;
}

.splash-screen img {
    max-width: 40%;  /* Adjusted size */
    height: auto;
    margin-bottom: 20px;
}

.splash-screen h2 {
    font-size: 24px; /* Adjust if necessary for visibility */
    font-weight: bold;
}

.splash-screen h3 {
    font-size: 16px;
    color: #666;
}
